<div class="container">
  <nav class="nav navbar-expand-sm bg-dark navbar-dark navbar-brand">
    <div class="container">
      <ul class = "navbar-nav">
        <li class = "nav-item">
          <a routerLink="/students" routerLinkActive="active" class="nav-link">Студенты</a>
        </li>
        <li class = "nav-item">
          <a routerLink="/exercises" routerLinkActive="active" class="nav-link">Задания</a>
        </li>
        <li class = "nav-item">
          <a routerLink="/users" routerLinkActive="active" class="nav-link">Пользователи</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Выход</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <br>
  <br>
  <button *ngIf="this.isAdmin" (click) = "createExercise()" class = "btn btn-success">Добавить задание</button>
  <br>
  <br>
  <h3>Список заданий</h3>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Задание</th>
      <th>Файл с заданием</th>
      <th>Описание</th>
      <th>Удалить</th>
      <th>Изменить</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exercise of exercises | async">
      <td>{{exercise.number}}</td>
      <td>{{exercise.exercise}}</td>
      <td><a class="list-group-item list-group-item-action" (click)="downloadFile(exercise.fileName)">{{exercise.fileName}}</a></td>
      <td>{{exercise.description}}</td>
      <td><button (click)="deleteExercise(exercise.id)" class = "btn btn-danger">Удалить</button></td>
      <td><button (click) = "updateExercise(exercise.id)" class = "btn btn-secondary">Изменить</button></td>
    </tr>
    </tbody>
  </table>
</div>
