<div class="container">
  <h3>Создание задания</h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label>ID задания</label>
      <input type="number" class ="form-control" id = "exerciseId"
             [(ngModel)] = "exercise.id" name = "exerciseId">
    </div>

    <div class="form-group">
      <label>Задание</label>
      <input type="text" class ="form-control" id = "exercise"
             [(ngModel)] = "exercise.exercise" name = "exercise">
    </div>

    <div class="form-group">
      <label>Описание задания</label>
      <input type="text" class ="form-control" id = "exerciseDescription"
             [(ngModel)] = "exercise.description" name = "exerciseDescription">
    </div>

    <div class="form-group">
      <label>Граф</label>
      <input type="text" class ="form-control" id = "graph"
             [(ngModel)] = "exercise.graph" name = "graph">
    </div>
    <br>
    <button class = "btn btn-success" type ="submit">Сохранить</button>
  </form>
</div>
