<div class="container">
  <h3>Изменение студента</h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label>Фамилия</label>
      <input type="text" class ="form-control" id = "lastName"
             [(ngModel)] = "student.lastName" name = "lastName">
    </div>

    <div class="form-group">
      <label>Имя</label>
      <input type="text" class ="form-control" id = "firstName"
             [(ngModel)] = "student.firstName" name = "firstName">
    </div>

    <div class="form-group">
      <label>Отчество</label>
      <input type="text" class ="form-control" id = "patronymic"
             [(ngModel)] = "student.patronymic" name = "patronymic">
    </div>

    <div class="form-group">
      <label>Группа</label>
      <input type="text" class ="form-control" id = "department"
             [(ngModel)] = "student.department" name = "department">
    </div>

    <label>ID задания</label>
    <select class="form-select" [(ngModel)]="student.exerciseId" name="exerciseId">
      <option *ngFor="let v of exercises" [value]="v.id">{{v.number}}</option>
    </select>

    <br>
    <button class = "btn btn-success" type ="submit">Сохранить</button>
  </form>
</div>
